@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    position: relative;
    height: 100vh;
}
/* Header */
.header{
    background-color: #be4b98;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
}
.header__title{
    font-size: 20px;
    font-weight: 400;
}
/* Form */
.form{
    padding: 50px 20px;
}
.form__label{
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 300;
}
.form__input{
    display: block;
    margin: 10px 0;
    padding: 10px 15px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #f6f6f6;
}
.form__button{
    display: block;
    margin: 30px 0;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    background-color: #be4b98;
    border-radius: 10px;
    text-decoration: none;
}
.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #be4b98;
    color: #fff;
    padding: 10px 10px; 
    text-align: end;   
}
.footer__button{
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    
    .form{
        background-color: #d1d8e0;
        width: 50%;
        margin: 10px auto;
        border-radius: 30px;
    }  
}